@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: 700;
    display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #ff6257ff;
    --secondary-color: #242742ff ;
    --font-color: #949494ff;
    --background-color: #ffffffff;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color);
}
.container{
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 50px auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 15px;
}
.image{
    width: 50%;
    height: 100%;
}
.image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 50%;
}
.content h1{
    font-size: 45px;
    color: var(--secondary-color);
    margin-bottom: 20px;
    line-height: 1.2;
}
.content .description{
    color: var(--secondary-color);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.text-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.text-icon img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}
.form label{
    font-size: 14px;
    color: var(--secondary-color);
    margin-bottom: 7px;
    font-weight: 600;
}
.form input{
    padding: 10px;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.form input:focus{
    outline: none;
    border-color: var(--primary-color);
}
.submit{
    width: 80%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.attribution{
    text-align: center;
    font-size: 12px;
    color: var(--background-color);
    margin-top: 20px;
    margin-bottom: 10px;
}
.attribution a{
    color: var(--background-color);
    text-decoration: none;
}
.attribution a:hover{
    text-decoration: underline;
}

@media(max-width: 768px){
    .container{
        flex-direction: column;
        height: auto;
        padding: 0;
    }
    .image, .content{
        width: 100%;
    }
    .content{
        order: 2;
    }
    .image{
        height: 200px;
        width: 100%;
        order: 1;
    }
    .content h1{
        font-size: 30px;
    }
}
@media(max-width: 1024px){
    .container{
        height: 600px;
        margin: 50px auto;
    }

}
#error-message{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
.sucess-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.sucess-message img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.sucess-message h1{
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-align: center;
}
.sucess-message p{
    font-size: 16px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}
.sucess-message button{
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.sucess-message button:hover{
    background-color: var(--secondary-color);
    opacity: 0.8;
}
@media(max-width: 768px){
    .sucess-message h1{
        font-size: 24px;
    }
    .sucess-message p{
        font-size: 14px;
    }
}